.Hamburger {
  background: white;
  border-style: hidden;
  cursor: pointer;
  margin: 2px 4px 0 2px;
  padding: 6px 12px;
}

.Hamburger:hover {
  background: #f5f5f5;
}

.Hamburger:focus {
  outline: none;
}

.Hamburger > i {
  color: #2196f3;
  font-size: 24px;
  font-weight: 500;
}

.Hamburger-menu {
  align-items: center;
  display: flex;
  height: 65px;
  width: 53px;
}

.Hamburger-menu .dropdown-menu {
  margin-left: 5px;
  margin-top: 5px;
  text-align: left;
}

.Hamburger-menu .dropdown-menu > li :not(.divider) {
  height: 25px;
}

.Hamburger-menu .dropdown-menu > li > a :not(.divider) {
  margin-left: 0.5px;
}
