html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#react-root {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

:root {
  --black: #000;
  --tachyon-black-20: rgba(0, 0, 0, 0.2);
  --tachyon-black-30: rgba(0, 0, 0, 0.3);
  --tachyon-black-70: rgba(0, 0, 0, 0.7);
  --tachyon-dark-green: #137752;
  --tachyon-green: #19a974;
  --tachyon-light-gray: #eee;
  --tachyon-lightest-blue: #cdecff;
  --tachyon-spacing-medium: 1rem;
  --tachyon-spacing-small: 0.5rem;
  --white: #fff;
}

.button {
  background-color: var(--tachyon-dark-green);
  border-radius: 0.25em;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  height: 2.25rem;
  padding: var(--tachyon-spacing-small);
  text-decoration: none;
}

.dataview a,
.dataview a:visited {
  color: var(--black);
  text-decoration: none;
}

.filters {
  align-items: center;
  background-color: var(--tachyon-light-gray);
  display: flex;
}

/* .clickable and .inactive are the same as tachyon's .dim (for now) */
.clickable,
.inactive {
  opacity: 1;
  transition: opacity 0.15s ease-in;
}

.clickable:focus,
.clickable:hover,
.inactive:focus,
.inactive:hover {
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}

.clickable:active,
.inactive:active {
  opacity: 0.8;
  transition: opacity 0.15s ease-out;
}

.narrative-details {
  display: flex;
  font-size: 0.875rem;
  justify-content: space-between;
}

.narrative-details .col {
  overflow: hidden;
  width: calc(100% / 3);
}

.narrative-details a {
  text-decoration: none;
}

.narrative-details-key {
  padding: var(--tachyon-spacing-medium) auto;
}

.narrative-details-value {
  font-weight: bold;
}

.narrative-new {
  margin-top: 1rem;
}

#narrative-shared-less,
#narrative-shared-rest,
#narrative-shared-status,
#narrative-shared-status:checked ~ #narrative-shared-more {
  display: none;
}

#narrative-shared-more,
#narrative-shared-status:checked ~ #narrative-shared-less,
#narrative-shared-status:checked ~ #narrative-shared-rest {
  display: inline;
}

#narrative-shared-less a.label,
#narrative-shared-more a.label {
  color: #00f;
  cursor: pointer;
}

.narrative-item {
  color: var(--tachyon-black-70);
  text-decoration: none;
}

.narrative-item-inner {
  padding-top: var(--tachyon-spacing-medium);
  padding-bottom: var(--tachyon-spacing-medium);
  padding-right: var(--tachyon-spacing-medium);
}

.narrative-item-outer {
  padding-left: var(--tachyon-spacing-medium);
  padding-right: var(--tachyon-spacing-medium);
}

.narrative-item-outer.active {
  background-color: var(--tachyon-lightest-blue);
}

.narrative-item-outer.inactive {
  background-color: var(--white);
  color: var(--tachyon-black-70);
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-item .icon {
  flex: 0 0 34px;
}

.menu-item .label {
  flex: 1 1 0px;
}

.refresh {
  border: none;
}

.refresh .loading {
  animation: fa-spin 2s infinite linear;
}

.subtab,
.tab {
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 0.125rem;
  color: var(--black);
  display: inline-block;
  padding: var(--tachyon-spacing-medium);
}

.subtab.active,
.tab.active {
  border-bottom-color: var(--tachyon-green);
}

.subtab.active {
  color: var(--tachyon-green);
}

.subtab-container {
  border-bottom-color: var(--tachyon-black-30);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--tachyon-black-20);
  width: 100%;
}

.subtab-container ul {
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  position: relative;
  text-align: center;
  top: 1px;
  width: 100%;
}

/* Copied from bootstrap 5.1: https://getbootstrap.com/docs/5.1/components/alerts/ */

.Alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.Alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.Alert-primary {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}

.Alert-secondary {
  color: #41464b;
  background-color: #e2e3e5;
  border-color: #d3d6d8;
}

.Alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.Alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}

.Alert-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}

.Alert-light {
  color: #636464;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.Alert-dark {
  color: #141619;
  background-color: #d3d3d4;
  border-color: #bcbebf;
}
